body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5rem;
  padding: 0 20px;
  background: #6532cb;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-item {
  padding-right: 1rem;
}
